{{ if eq .osid "linux-fedora" -}}
#!/bin/bash

for repo in {{ .packages.fedora.copr | quoteList | join " " }}; do
    sudo dnf copr enable $repo;
done

sudo dnf install {{ .packages.fedora.dnf | join " " }}

{{ end -}}
